<footer class="footer">
  <div class="container text-center">
    <p>
      &copy; 2025 Rivas Gianluca. Todos los derechos reservados.  
      Los personajes mostrados en esta página son propiedad de Hirohiko Araki y las respectivas marcas de los productos mostrados
    </p>

    <div class="social-icons mt-3">
      <a href="https://facebook.com" target="_blank" class="me-3">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="me-3">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="me-3">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://github.com" target="_blank" class="me-3">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</footer>